* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.sidebar__main {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: 320px;
  height: 100vh;
  padding: 24px;
  background-color: white;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.1);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.nav__section {
  flex: 1;
  font-size: 16px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  margin-top: 24px;
  gap: 24px;
}
.nav__item a {
  color: #1b1c21;
  font-weight: 500;
  transition: all 0.3s ease;
  padding: 4px 0;
}

.nav__item a:hover {
  color: #7e7e82;
  padding-left: 5px;
}

.nav__item--active a {
  color: #7e7e82;
  pointer-events: none;
}

.nav__item--active a::before {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  width: 3px;
  height: 24px;
  background-color: aqua;
  left: -16px;
  top: -4px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  cursor: pointer;
}

.contacts__btn {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.contacts__btn:hover {
  opacity: 0.9;
}

.contacts-click {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts-click__mail {
  color: black;
}

.contacts-click__tel-number {
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.lang__container {
  display: flex;
  justify-content: flex-start;
  border: none;
}
a {
  text-decoration: none;
}

.lang__btn {
  border: none;
  background-color: white;
  transition: 0.3s;
}

.lang__btn:hover {
  color: rgb(145, 133, 133);
  transform: scale(1.1);
}
.lang__ru {
  color: rgb(145, 133, 133);
}
