main-wrapper {
  font-size: 0; /* Хак: убирает лишний пробел между inline-block элементами */
  width: 100%;
}

.left-side,
.right-side {
  display: inline-block;
  width: 49%;
  font-size: 14px;
  min-height: 100vh;
  vertical-align: top;
}

img {
  max-width: 98%;
}

h1 {
  margin-top: 100px;
}

.social-media {
  display: block;
}

.facebook,
.linkedin {
  display: inline-block;
  width: 46%;
  padding: 12px 0;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  vertical-align: top;
}

.facebook {
  background-color: #3b5998;
  margin-right: 4%;
}

.linkedin {
  background-color: #0077b5;
}
