.highlight {
  color: red;
}

#special {
  color: green;
}

ul > li {
  color: blue;
}

li + li {
  border: 1px solid black;
}

.note ~ {
  color: red;
}

div.secure {
  background-color: green;
  color: white;
}

span.secure {
  background-color: red;
  color: white;
}

.first .inner {
  background-color: yellow;
  color: black;
}
